
<h1>Login</h1>
<div>
<%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
    
    <%= f.label :password, "PASSWORD" %>
    <%= f.text_field :password %>
    
    <%= f.submit "Login" %>
    <% end %>
    <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
</div>