<h2>ID: <%=@task.id %>のタスク</h2>
<div>タスク：<%=@task.content%> ステータス：<%=@task.status%></div>
<p><%= link_to "一覧へもどる", tasks_path %></p>
<%= link_to "このタスク編集する？",edit_task_path(@task) %>
<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>